{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Lookahead{% endblock %}

{% block content %}
<!--<h1>This is Lookahead page.</h1>-->
<!--<p>Welcome, {{ user.username|default:"Guest" }}!</p>-->

{% if projects %}
    <h3>Projects:</h3>
    {% for project in projects %}
        <hr>
        <div class="container row">
            <div class="list-group col-9">
                <a href="#" class="list-group-item list-group-item-primary list-group-item-action">{{ project.name }}</a>
            </div>
            <!-- Delete project -->
            <div class="col-auto">
                {% if user == project.created_by %}
                    <form method="post" action="{% url 'crud_project' %}">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ project.id }}">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-danger" name="delete_project"><i class="bi bi-trash"></i></button>
                    </form>
                {% endif %}
            </div>
        </div>
        {% for item in sequence %}
            {% if item.phase.well.project == project %}
                <div class="container row">
                    <div class="col-2"><a>{{ item.phase.well }}</a></div>
                    <div class="col-4"><a>{{ item.phase.name }}</a></div>
                    <div class="col">
                        <div class="container">
                            {% for step in steps %}
                                {% if step.phase == item.phase %}
                                    <div class="row"><a>{{ step.ops_step }}</a></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% endblock %}
