{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Lookahead{% endblock %}

{% block content %}

<h3>Wells Projects:</h3>

{% for project in projects %}
    <hr>
    <div class="container-fluid">
        <div class="row my-2 align-items-center">
            <!-- Project name -->
            <div class="col list-group" id="div-project-name-{{ project.id }}">
                <a href="#" class="list-group-item list-group-item-primary list-group-item-action opacity-75">
                    <strong>PROJECT - {{ project.name }}</strong>
                </a>
            </div>
        </div>

        {% for lookahead in project.lookaheads.all %}
<!--            <div>Lookahead: {{ lookahead }}</div>-->
            {% for sequence in lookahead.sequence.all %}
<!--                <div>Sequence: {{ sequence.order }} - {{ sequence.phase.well.name }} - {{ sequence.phase.name }}</div>-->
                {% for step in sequence.phase.ops_steps.all %}
<!--                    <div>Step: {{ step.order }} - {{ step.ops_step }}</div>-->
                    <div class="row my-2 align-items-center">
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>{{ lookahead.name }}</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>Phase - {{ sequence.order }}</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>{{ sequence.phase.well.name }}</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>{{ sequence.phase.name }}</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>Step - {{ step.order }}</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>{{ step.ops_step }}</strong>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <div class="row my-2 align-items-center">
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>{{ lookahead.name }}</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>Phase - {{ sequence.order }}</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>{{ sequence.phase.well.name }}</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>{{ sequence.phase.name }}</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>.</strong>
                            </a>
                        </div>
                        <div class="col list-group">
                            <a class="list-group-item list-group-item-info">
                                <strong>.</strong>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
